#cuerpoNosotros{
    width: 100%;
    display: flex;
    justify-content: center;
}

#margenNosotros{
    width: 60%;
    margin: 6vh 0;
}

#imgSobreNosotros{
    width: 240px;
    border-radius: 15px;
    margin-right: 30px;
}

#sobreNosotros{
    display: flex;
    margin-bottom: 6vh;
}

h1, h2{
    margin-bottom: 2vh;
}

#cuerpoNosotros p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 12px;
}

.cuadrosMisionVision{
    border: 3px solid #0D2555;
    margin-bottom: 6vh;
    text-align: center;
    padding: 40px;
    border-radius: 15px;
}

.cuadrosMisionVision:hover{
    background-color: #d1d7e2;
}